@media screen and (max-width: 900px) {
    #root .contents-container {
        height: calc(100vh - 320px);
    }
    .contents-container>.input-container {
        width: 100%;
    }
    .fanboard-container {
        width: 98%;
        height: 98%;
        margin: 0 auto;
        padding-top: 0;
    }
    .fanboard-wrap {
        width: 100%; height: 100%;
        overflow: scroll;
    }
    .fanboard-wrap::-webkit-scrollbar {
        display: none;
    }

    .fanboard-list {
        width: 100%; height: 100%;
    }


}