.fanboard-container {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
.fanboard-wrap {
    width: 100%; height: 100%;
    overflow: scroll;
}
.fanboard-wrap::-webkit-scrollbar {
    display: none;
}

.fanboard-list {
    width: 100%; height: 100%;
}

.fanboard {
    width: 94%; height: 100px;
    padding-left: 10px;
    cursor: pointer;
}
.fanboard>ul {
    overflow: hidden;
}
.fanboard>ul>li {
    float: left;
}
.profile-box {
    width: 80px;
}
.profile-box>img {
    width: 70px; height: 70px;
    border-radius: 70px;
}
.contents-box {
    width: calc(100% - 100px);
}
.contents-box>ul {
    width: 100%;
    overflow: hidden;
}
.contents-box>ul>li {
    display: inline-block;
}
.contents-box>.data-box {
    float: right;
}
.command {
    width: 90%;
    text-overflow: ellipsis;
    word-wrap:break-word;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.data-box {
    color: #727272;
    font-size: 13px;
}

.popup-container {
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: rgba(30,30,30,0.75);
}

.popup-container>.popup-box {
    width: 50%; height: 800px;
    background: #FFF5EE;
    border-radius: 5px;
    margin: 60px auto;
    position: relative;
}
.close-box {
    height: 50px;
    font-size: 30px;
    text-align: right;
    margin-right: 30px;
    line-height: 50px;
    color: #888888;
    cursor: pointer;
}

.popup-box>ul {
    overflow: hidden;
}
.command-detail {
    margin-left: 20px;
}
.command-detail.fan {
    text-align: left;
}
.command-detail.user {
    text-align: right;
}
.command-detail.fan>a {
    width: 100%; height: 100%;
}
.command-detail.fan img {
    width: 50px; height: 50px;
    border-radius: 50px;
    vertical-align: middle;
}
.command-detail span {
    display: inline-block;
    max-width: 220px;
    background: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}
.command-detail:last-child {
    clear: both;
}

.command-input-box {
    width: 100%;
    height: 50px;
    padding: 5px;
    position: absolute;
    bottom:0;
}
.command-input-box form {
    width: 100%; height: 100%;
}
.command-input-box input {
    width: calc(95% - 100px); height: 100%;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 80px;
    outline: none;
    font-size: 18px;
}
.command-input-box button {
    width: 70px; height: 50px;
    position: absolute;
    right: 20px;
    border-radius: 0 20px 20px 0;
    outline: none;
    border: none;
    background: #F5F4F2;
    cursor: pointer;
}
.hide{
    display: none;
}

