@media screen and (max-width: 900px) {
    #root>.side-container {
        display: none;
    }
    #root .main-container {
        margin-left: 0 ;
    }
    #root .home-container {
        width: 100%;
    }
    .menu-container>.menu-list {
        width: 100%;
    }
    .menu-container>.menu-list>.menu {
        margin: 0;
    }
    .photo-wrap {
        max-width: 100%;
    }
    .photo-list>.photo {
        width: calc(100% - 30px); height: calc(100% - 30px); float: left; margin: 10px 10px;
    }
}